.main{
  /* background: url(https://www.tocobo.co.kr/wib/img/banner/main10.png);
  background-position: center;
  height: 800px; */
  width: 100%;  
} 

.main_slide{
  width: 100%;
  height: 800px;
 
}

/* .main_1{
  width: 100%;
  height: 800px;
  background: url(https://www.tocobo.co.kr/wib/img/banner/main10.png);
  background-position: center;
 
} */

.contents{
  width: 100%;  
  
}
.intro{
  width: 100%;
  height: 500px;
  background-color: darkorange;

}
.collection{
  width: 100%;
  height: 500px;
  background-color: rgb(141, 233, 145);

}
.sns{
  width: 100%;
  height: 500px;
  background-color: rgb(235, 122, 188);

}